a {
    text-decoration: none;
    color: inherit;
    }
    h1 {
    width: 100%;
    height: 30px;
    background-color: white;
    }
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    ul {
    width: 100%;
    height: 40px;
    border-style:solid;
    border-bottom-color: #7ABA96;
    border-top-color: #7ABA96;
    border-left-color: white;
    border-right-color: white;
    border-width: 1px;
    }
    ul1 {
    width: 100%;
    height: 40px;
    }
    .centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    }
    aside1 {
    float: left;
    background-color: white;
    width: 10%;
    height: 900px;                
    }
    aside2 {
    float: right;
    background-color: white;
    width: 10%;
    height: 900px;
    }
    seccion {
    display: block;
    float: left;
    background-color: white;
    width: 20%;
    height: auto;
    padding: 1%;    
    }                
    .Boton {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        width: auto;
        height: auto;
        padding: 5px;
        background-color:#99b8a6 ;
    }
    presentacion {
    display: block;
    float: left;
    background-color: white;
    width: auto;
    height: auto;
    padding: 10px;
    }
    .izquierda {
    text-align: left;
    }
    .centrado {
    text-align: center;
    }
    .negrita {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    }
    presentacion img {
    width: auto;
    height: auto;
    }
    Anuncio {
        display: block;
        float: left;
        width: auto;
        height: auto;
        padding: 10px;
        background-color: rgb(233, 233, 233);
    }
    recetas {
    float: right;
    background-color: white;
    width: 56%;
    height: auto;
    padding: 1%;
    }
    receta{
        margin: 5px;
        float: left;
        width: 48%;
        height: 68%;
        background-color: white;
    }
    .rayaverde {
    text-align: center;
    width: 100%;
    height: auto;
    border-style:solid;
    border-bottom-color: #7ABA96;
    border-top-color: #7ABA96;
    border-left-color: white;
    border-right-color: white;
    border-width: 1px;
    }
    .footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    }
    ul.sticky {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    }
    p.sticky {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    }
    ul p:hover {
    color: #7ABA96;
    }
    ul p:hover {
    color: #7ABA96;
    }
    p.negrita:hover {
    color:#8A8070;
    }